* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    color: rgb(26, 25, 25);
    font-family: serif;
    margin-bottom: 10px;
}

.title {
    font-size: 18px;
    font-family: monospace;
}
.nav {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    color: white;
    background-color: rgb(255, 150, 84);
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.nav .blog {
    background-color: orangered;
}
