* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(192, 192, 192);
}

h1 {
    color: rgb(26, 25, 25);
    margin-bottom: 10px;
}

.title {
    font-size: 18px;
}
.nav {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    color: white;
    background-color: rgb(52, 99, 238);
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}
.nav a:hover {
    background-color: rgb(75, 120, 254);
}

.nav--button-blog a{
    background-color: rgb(254, 93, 35);
}
.nav--button-blog a:hover {
    background-color: rgb(255, 113, 61);
}