* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(220, 217, 217);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #358600;
    color: aliceblue;
    font-weight: 300;
    box-shadow: 3px 5px rgba(91, 91, 91, 0.486);
}

.brand-title {
    font-size: 1.2rem;
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    font-size: medium;
    text-decoration: none;
    color: white;
    padding: .5rem;
    margin-right: .5rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #3d9602;
}

.sidebar {
    position: relative;
    background-color: #4dc100;
    width: 200px;
    height: 80vh;
    color:#358600;
    display: inline-block;
}

/* Taken from freecodecamp ("10 ways to center a div")
https://www.freecodecamp.org/news/how-to-center-a-div-with-css-10-different-ways/ */

.sidebar-container1 {
    position: absolute;
    background-color: #fcfff9;
    color: black;
    width: 78%;
    height:15%;
    border-radius: 5px;
    top: 1rem;
    left: 0;
    right: 0;
    margin: auto;
}
.sidebar-container1 p {
    position: relative;
    text-align: center;
    line-height: 60px;
}

.sidebar-container2 {
    position: absolute;
    background-color: #fcfff9;
    color: black;
    width: 78%;
    height:15%;
    border-radius: 5px;
    top: 7rem;
    left: 0;
    right: 0;
    margin: auto;
}
.sidebar-container2 p {
    position: relative;
    text-align: center;
    line-height: 60px;
}

.sidebar-container3 {
    position: absolute;
    background-color: #fcfff9;
    color: black;
    width: 78%;
    height:15%;
    border-radius: 5px;
    top: 13rem;
    left: 0;
    right: 0;
    margin: auto;
}
.sidebar-container3 p {
    position: relative;
    text-align: center;
    line-height: 60px;
}

.sidebar-container4 {
    position: absolute;
    background-color: #fcfff9;
    color: black;
    width: 78%;
    height:15%;
    border-radius: 5px;
    top: 19rem;
    left: 0;
    right: 0;
    margin: auto;
}
.sidebar-container4 p {
    position: relative;
    text-align: center;
    line-height: 60px;
}

.right-text {
    display: inline-block;
    width: 45%;
    text-align: justify;
    margin: 5px 120px;
}
.footer{
    background-color: #3d9602;
    list-style: none;
    width:100vw;
    height: 20vh;
    padding: 10px;
    text-align: center;
    display: table;
    margin: 0 auto;
}

.footer li {
    color: aliceblue;
    min-width: 100px;
    list-style: none;
    display: inline;
    padding: 20px;
    text-align: center;

}